WcfSample.Hosting/WcfSample.Hosting.Client/Service References/CalculatorServiceSelfHostReference/CalculatorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfSample.Hosting.CalculatorService.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfSample.Hosting.CalculatorService.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculatorEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calculation" type="tns:Calculation" />
      <xs:element minOccurs="0" name="FirstValue" type="xs:double" />
      <xs:element minOccurs="0" name="SecondValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatorEntity" nillable="true" type="tns:CalculatorEntity" />
  <xs:simpleType name="Calculation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Add" />
      <xs:enumeration value="Subtract" />
      <xs:enumeration value="Multiply" />
      <xs:enumeration value="Divide" />
      <xs:enumeration value="Square" />
      <xs:enumeration value="Sqrt" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Calculation" nillable="true" type="tns:Calculation" />
</xs:schema>